{% extends "master.html" %}
{% block title %}xAPI Vocab User Profile{% endblock title %}
{% block heading %}xAPI Vocab User Profile{% endblock heading %}
{% block content %}
<br>
<div class="content">
    <div class="pure-g">
      <div class="l-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3"></div>
      <div class="l-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
        <h3 class="content-subhead">User Profile</h3>
        <p>Welcome to the User Profile Page, {{user.username}}!  Below you should find everything we know about you.  U B U!</p>
        <ul>
            {% for iri in user.registerediri_set.all %}
            {% if iri.accepted and iri.reviewed %}
            <li><a href="{{ iri.return_address }}">{{ iri.return_address }}</a></li>
            {% endif %}
            {% empty %}
            You have no IRIs registered
            {% endfor %}
        </ul>
      </div>
      <div class="l-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3"></div>
    </div>
</div>
{% endblock content %}
{% block extra_js %}
{% endblock extra_js %}